#s-8d9b92fb-7391-4f07-b2af-390879e68c9b #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8d9b92fb-7391-4f07-b2af-390879e68c9b #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-8d9b92fb-7391-4f07-b2af-390879e68c9b #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-8d9b92fb-7391-4f07-b2af-390879e68c9b #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-8d9b92fb-7391-4f07-b2af-390879e68c9b #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-8d9b92fb-7391-4f07-b2af-390879e68c9b #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-8d9b92fb-7391-4f07-b2af-390879e68c9b #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-8d9b92fb-7391-4f07-b2af-390879e68c9b #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-8d9b92fb-7391-4f07-b2af-390879e68c9b #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-8d9b92fb-7391-4f07-b2af-390879e68c9b #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8d9b92fb-7391-4f07-b2af-390879e68c9b #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8d9b92fb-7391-4f07-b2af-390879e68c9b #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8d9b92fb-7391-4f07-b2af-390879e68c9b #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #15AABF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #15AABF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #15AABF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #15AABF;
  -ms-transform: rotate(0.0deg);
}
#s-8d9b92fb-7391-4f07-b2af-390879e68c9b #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8d9b92fb-7391-4f07-b2af-390879e68c9b #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #15AABF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #15AABF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #15AABF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #15AABF;
  -ms-transform: rotate(0.0deg);
}
#s-8d9b92fb-7391-4f07-b2af-390879e68c9b #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8d9b92fb-7391-4f07-b2af-390879e68c9b #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #15AABF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #15AABF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #15AABF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #15AABF;
  -ms-transform: rotate(0.0deg);
}
#s-8d9b92fb-7391-4f07-b2af-390879e68c9b #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-8d9b92fb-7391-4f07-b2af-390879e68c9b #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8d9b92fb-7391-4f07-b2af-390879e68c9b #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-8d9b92fb-7391-4f07-b2af-390879e68c9b #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-8d9b92fb-7391-4f07-b2af-390879e68c9b #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-8d9b92fb-7391-4f07-b2af-390879e68c9b #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-8d9b92fb-7391-4f07-b2af-390879e68c9b #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-8d9b92fb-7391-4f07-b2af-390879e68c9b #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-8d9b92fb-7391-4f07-b2af-390879e68c9b #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8d9b92fb-7391-4f07-b2af-390879e68c9b #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-8d9b92fb-7391-4f07-b2af-390879e68c9b #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-8d9b92fb-7391-4f07-b2af-390879e68c9b #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-8d9b92fb-7391-4f07-b2af-390879e68c9b #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8d9b92fb-7391-4f07-b2af-390879e68c9b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}