#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-search {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-mic {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Rectangle_16 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30) ;
  filter: alpha(opacity=30) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}