#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Components_panel_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-search {
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-mic {
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #15AABF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #15AABF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #15AABF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #15AABF;
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #15AABF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #15AABF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #15AABF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #15AABF;
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #15AABF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #15AABF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #15AABF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #15AABF;
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #15AABF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #15AABF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #15AABF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #15AABF;
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Line_1 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Line_1 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #15AABF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #15AABF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #15AABF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #15AABF;
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #15AABF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #15AABF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #15AABF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #15AABF;
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #15AABF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #15AABF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #15AABF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #15AABF;
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Line_2 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Line_2 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #15AABF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #15AABF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #15AABF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #15AABF;
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Rectangle_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #15AABF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #15AABF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #15AABF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #15AABF;
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Rectangle_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #15AABF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #15AABF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #15AABF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #15AABF;
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Line_3 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Line_3 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #15AABF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #15AABF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #15AABF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #15AABF;
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Rectangle_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #15AABF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #15AABF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #15AABF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #15AABF;
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Rectangle_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #15AABF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #15AABF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #15AABF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #15AABF;
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Line_4 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Line_4 {
  stroke-width: 2px;
  stroke: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #15AABF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #15AABF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #15AABF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #15AABF;
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Rectangle_16 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8e1c86f0-27ce-4f42-afd3-004208c28dac > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}